* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f2937;
  padding-top: 18px;
}
.top {
  display: flex;
  justify-content: space-around;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}
.links {
  padding-top: 7px;
}
.middle {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 64px;
  margin-bottom: 64px;
}
.hero-main {
  width: 350px;
  flex-wrap: wrap;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;

  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 28px;
}
.hero-p {
  width: 450px;
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 28px;
}
.hero-b {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 28px;
}
.hero-b button {
  border-radius: 12px;
  border: none;
  width: 130px;
  height: 40px;
  color: #f9faf8;
  font-weight: bolder;
  font-size: 18px;
  background-color: #3882f6;
}
.main-img {
  background-color: gray;
  margin-left: 40px;
  margin-top: 24px;
  width: 450px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}
.info {
  text-align: center;
}
.info-text {
  margin-top: 24px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.cards-body {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-top: 48px;
}
.info-body {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.info-cards {
  border-color: #3882f6;
  border-radius: 12px;
  border: solid;
  width: 100px;
  height: 100px;
}
.quote-body {
  background-color: #e5e7eb;
  margin-top: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}
.quote-container {
  max-width: 760px;
  flex-wrap: wrap;
}
.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}
.by {
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
  font-size: 18px;
}
.call-body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 250px;
}
.blue-container {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 150px;
  align-items: center;
  border-radius: 8px;
}
.words-head {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}
.words-p {
  font-size: 18px;
  color: #e5e7eb;
}
.words-btn button {
  border-radius: 12px;
  border: solid;
  border-color: #f9faf8;
  width: 130px;
  height: 40px;
  color: #f9faf8;
  font-weight: bolder;
  font-size: 18px;
  background-color: #3882f6;
}
footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  font-size: 18px;
  height: 100px;
}
